<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= render_title(book.title) %>
  </p>

  <p>
    <strong>Pages:</strong>
    <%= book.pages_count %>
  </p>

  <p>
    <strong>Isbn:</strong>
    <%= book.isbn %>
  </p>

  <p>
    <strong>In stock:</strong>
    <%= book.in_stock %>
  </p>

</div>
